<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.mohole.ciaMondo"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>App di prova</name>

    <description>
        Prima applicazione di prova.
    </description>

    <author href="https://www.mohole.it" email="stecava1985@libero.it">
        Stefano Cavalleri
    </author>

</widget>